<a href="https://colab.research.google.com/github/sergiofsu1bank/23.04-Data-Wrangling-IV/blob/main/EstudoMachineLearningPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns #graficos
import matplotlib.pyplot as plt #graficos
import plotly.express as px

In [2]:
base_credit = pd.read_csv('/content/credit_data.csv')
base_credit

      clientid        income        age         loan  default
0            1  66155.925095  59.017015  8106.532131        0
1            2  34415.153966  48.117153  6564.745018        0
2            3  57317.170063  63.108049  8020.953296        0
3            4  42709.534201  45.751972  6103.642260        0
4            5  66952.688845  18.584336  8770.099235        1
...        ...           ...        ...          ...      ...
1995      1996  59221.044874  48.518179  1926.729397        0
1996      1997  69516.127573  23.162104  3503.176156        0
1997      1998  44311.449262  28.017167  5522.786693        1
1998      1999  43756.056605  63.971796  1622.722598        0
1999      2000  69436.579552  56.152617  7378.833599        0

[2000 rows x 5 columns]

In [3]:
base_credit.loc[base_credit['age'] < 0, 'age'] = 40.92

In [4]:
base_credit['age'].fillna(base_credit['age'].mean(), inplace = True)

/tmp/ipython-input-4-4222972603.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  base_credit['age'].fillna(base_credit['age'].mean(), inplace = True)

In [5]:
base_credit.loc[pd.isnull(base_credit['age'])]

Empty DataFrame
Columns: [clientid, income, age, loan, default]
Index: []

In [6]:
x_credit = base_credit.iloc[:, 1:4].values

In [7]:
y_credit = base_credit.iloc[:, 4].values

In [8]:
from sklearn.preprocessing import StandardScaler
scaler_credit = StandardScaler()
x_credit = scaler_credit.fit_transform(x_credit)

In [9]:
base_census = pd.read_csv('/content/census.csv')

In [10]:
x_census = base_census.iloc[:, 0:14].values

In [11]:
y_census = base_census.iloc[:, 14].values

In [12]:
from sklearn.preprocessing import LabelEncoder
label_enconder_teste = LabelEncoder()
teste = label_enconder_teste.fit_transform(x_census[:, 1])

In [13]:
label_enconder_workclass = LabelEncoder()
label_enconder_education = LabelEncoder()
label_enconder_marital = LabelEncoder()
label_enconder_occupation = LabelEncoder()
label_enconder_relationship = LabelEncoder()
label_enconder_race = LabelEncoder()
label_enconder_sex = LabelEncoder()
label_enconder_country = LabelEncoder()

In [14]:
x_census[:,1] = label_enconder_workclass.fit_transform(x_census[:,1])
x_census[:,3] = label_enconder_education.fit_transform(x_census[:,3])
x_census[:,5] = label_enconder_marital.fit_transform(x_census[:,5])
x_census[:,6] = label_enconder_occupation.fit_transform(x_census[:,6])
x_census[:,7] = label_enconder_relationship.fit_transform(x_census[:,7])
x_census[:,8] = label_enconder_race.fit_transform(x_census[:,8])
x_census[:,9] = label_enconder_sex.fit_transform(x_census[:,9])
x_census[:,13] = label_enconder_country.fit_transform(x_census[:,13])

In [15]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [16]:
onehotencoder_census = ColumnTransformer(transformers=[('OneHot', OneHotEncoder(), [1,3,5,6,7,8,9,13])], remainder='passthrough')
x_census = onehotencoder_census.fit_transform(x_census).toarray()

In [17]:
x_census.shape

(32561, 108)